

/* Custom Sidebar Styles */
.custom-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  
  
  z-index: 1000; 
}

.custom-sidebar .sidebarList {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  margin-top: 30%;
}

.custom-sidebar .sidebarListItem {
  width: 100%;
  padding: 16px;
  color: rgb(78, 59, 97);
  font-display: initial;
  gap: 20px;
  background-color: rgb(247, 247, 247);
  border-radius: 25px;
  margin-top: 5px;
  
}

.custom-sidebar .sidebarlogOutItem {
  position: absolute;
  bottom: 0;
  width: 100%;
  gap: 20px;
  background-color: rgb(224, 193, 255);
  border-radius: 25px;
}

.custom-sidebar .sidebarListItem:hover {
  background-color:rgb(222, 189, 255); 
  border-radius: 10px;
}

.custom-sidebar .sidebarlogOutItem:hover {
  background-color: rgb(222, 189, 255); 
  border-radius: 10px;
}

.custom-sidebar .sidebarCopy {
  width: 100%;
  
  color: rgb(253, 253, 253);
  font-display: initial;
  gap: 20px;

  border-radius: 10px;
  
}
.socialLink .sidebarCopy {
  margin-top: 5px; 
  background-color: rgb(165, 75, 255); 
  border-radius: 25px;
}


.custom-sidebar .sidebarCopy:hover{
  background-color:rgb(222, 189, 255); 
  border-radius: 10px;
}

.toggle-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: #fff; 
  border: 1px solid #000; 
  padding: 10px; 
}

.custom-sidebar .socialLink{
  margin-top: 80%;
  
  border-radius: 10px;
 
}


@media (max-height: 720px) {
  .custom-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    overflow-y: auto;
    height: 720px;
  }

  .custom-sidebar .sidebarList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }

  .custom-sidebar .sidebarList a {
    text-decoration: none;
    color: rgb(78, 59, 97);
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 10px; /* Ayarlayabilirsiniz */
  }

  .custom-sidebar .sidebarList a:hover {
    background-color: rgb(222, 189, 255);
  }

  .toggle-button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px;
  }

  .socialLink {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
}
/*----------------------------------------------------------------------------------------------------------*/

  /* Signup Page Styles */
  .signupContainer {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px;
  }
  
  .signupContainer .signupFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 50%;
    padding: 20px; 
    margin: 0 auto; 
    padding-left: 10%;
  }
  
  .signupContainer .signupFormContainer .signupInput {
    margin-bottom: 10px;
    width: 60%; 
    font-size: 14px; 
  }
  
  .signupContainer .signupFormContainer .signupButton {
    margin-top: 10px;
    width: 60%; 
    background-color: rgb(186, 115, 252);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .signupContainer .signupimageContainer {
    width: 80%;
    background-color: rgb(239, 227, 250);
    height: 94vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signupContainer .image {
    width: 120%;
  }
  
  .signupContainer .signupFormContainer h4 {
    text-align: center; 
    margin-bottom: 20px;
    margin-right: 34%;
  }
  
  .signupContainer .signupFormContainer .loginRedirect {
    text-align: center; 
    margin-top: 3%;
    margin-right: 38%;
    cursor: pointer;
  }

/*----------------------------------------------------------------------------------------------------------*/

  /* Login Page Styles */
  .Logincontainer {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px;
  }
  
  .Logincontainer .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 50%;
    padding: 20px; 
    margin: 0 auto; 
    padding-left: 10%;
  }
  
  .Logincontainer .formContainer .inputField {
    margin-bottom: 20px;
    width: 70%; 
    font-size: 14px; 
  }
  
  .Logincontainer .formContainer .passwordField {
    margin-bottom: 10px;
    width: 70%; 
    font-size: 14px;
  }
  
  .Logincontainer .formContainer .submitButton {
    width: 70%; 
    margin-top: 20px;
    background-color: rgb(186, 115, 252);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .Logincontainer .imageContainer {
    width: 80%; 
    height: 94vh;
    background-color: rgb(239, 227, 250);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Logincontainer .image {
    width: 100%;
  }
  
  .Logincontainer .formContainer h4 {
    text-align: center; 
    margin-bottom: 20px;
    margin-right: 27%;
  }
  
  .Logincontainer .formContainer .signupText {
    margin-top: 3%;
    margin-right: 17%;
    cursor: pointer;
  }

/*----------------------------------------------------------------------------------------------------------*/
 /* Brand Page Styles */
.table-container{
  width: 40%;
  margin-top: 7%;
  display: flex;
  justify-content: center;
  margin-left: 25%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;  border-radius: 10px;
}

.table-container .MuiPaper-root {
  width: 100%; 
  overflow-x: auto; 
}



/*--------------------------------------------------------------------------------------------------------*/
  /* Product Page Styles */

.container {
    margin-left: 25%;
    
    display: flex;
    flex-direction: column; 
    width: 90%;
    
  }
  .tableHeader {
    font-weight: bold;
    font-size: 20px;
  }
  
  .headerText {
    font-weight: bold;
    font-size: 20px;
  }
  
  .addProductButton {
    margin-bottom: 20px;
    left: 0;
    width: 70%;
    margin-top: 7%;
  }
  
  .tableContainer {
    display: block;
    max-width: 70%; 
    overflow-x: auto; 
    margin-bottom: 20px;
    
  }
  
  .tableContainer table {
    width: 100%; 
  }
  
  .tableContainer th, .tableContainer td {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  
  .tableContainer tbody tr:nth-child(even) {
    background-color: #f9f9f9; 
  }
  
  .tableContainer tbody tr:nth-child(odd) {
    background-color: #ffffff; 
  }



.modalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 70%;
    background-color: #ffffff;
    box-shadow: 24px;
    padding: 24px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
  }
  
  .modalBox .modalInput {
    margin-top: 32px; 
  }
  
  .modalBox .modalInput input {
    margin-bottom: 5px; 
    padding: 16px;
  }
  
  
  .modalBox .modalInput label {
    margin-bottom: 10px; 
  }
  
  .modalBox .modalButton {
    width: 30%;
    height: 8%;
    margin-left: 35%;
    margin-top: 15px;
  }
  .modalBox h4{
    margin-top: 15px;
  }

  /*----------------------------------------------------------------------------------------------------------*/

  /* Home Page Styles */
.graph{
  display: flex;
  margin-top: 5%;
  margin-left: 16%;
  gap: 10%;
}

.bar{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
  padding: 10px;
}
.pie{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10px;
  padding: 10px;
}


/*----------------------------------------------------------------------------------------------------------*/

  /* Media Queries */


/* Login Page Styles */
@media (max-width: 767px) {
  .container .formContainer {
    width: 100%;
    padding-left: 0;
  }

  .container .formContainer .inputField,
  .container .formContainer .passwordField,
  .container .formContainer .submitButton {
    width: 100%;
  }
}

/* Brand Page Styles */
@media (max-width: 767px) {
  .table-container {
    width: 80%;
    margin-left: 10%;
  }
}

/* Product Page Styles */
@media (max-width: 767px) {
  .container {
    margin-left: 0;
  }

  .tableContainer {
    max-width: 100%;
  }
}

/* Home Page Styles */
@media (max-width: 767px) {
  .graph {
    flex-direction: column;
    align-items: center; 
    gap: 0;
    margin-left: 0;
  }

  .graph .bar,
  .graph .pie {
    width: 30%; 
    margin-bottom: 10px;
    
  }
  
}
@media (max-width: 767px) {
  .modalBox {
    width: 70%; 
    padding: 20px;
  }

  .modalBox .modalButton {
    width: 50%;
    margin-left: 25%;
  }
}
/* Modal Styles */

@media (max-width: 479px) {
  .modalBox {
    width: 85%; 
    
  }

  .modalBox .modalButton {
    width: 70%;
    margin-left: 15%;
  }
}
/* Sign Up Page Styles */
@media (max-width: 767px) {
  .signupContainer .signupimageContainer {
    display: none; 
  }
}

@media (min-width: 768px) {
  .signupContainer .signupFormContainer {
    width: 100%; 
  }
}

/* Login Page Styles */

@media (max-width: 767px) {
  .Logincontainer .imageContainer {
    display: none; 
  }
}


@media (min-width: 768px) {
  .Logincontainer .formContainer {
    width: 100%;
  }
}