/* App.css */

/* Custom Sidebar Styles */
.custom-sidebar {
    
  }
  
  .custom-sidebar .sidebarList {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 270px;
    margin-top: 70%;
    text-align: left;
    
  }
  
  .custom-sidebar .sidebarListItem {
    width: 100%;
    padding: 16px;
    
    margin-left: 20%;
    margin-top: 20%;
    color: rgb(7, 7, 7);
    
    font-display:initial;
  }
  
  .custom-sidebar .sidebarlogOutItem {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(186, 115, 252); 
  }

/*----------------------------------------------------------------------------------------------------------*/

  /* Signup Page Styles */
  .signupContainer {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px;
  }
  
  .signupContainer .signupFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 50%;
    padding: 20px; 
    margin: 0 auto; 
    padding-left: 10%;
  }
  
  .signupContainer .signupFormContainer .signupInput {
    margin-bottom: 10px;
    width: 70%; 
    font-size: 14px; 
  }
  
  .signupContainer .signupFormContainer .signupButton {
    margin-top: 10px;
    width: 70%; 
    background-color: rgb(186, 115, 252);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .signupContainer .signupimageContainer {
    width: 70%;
    background-color: rgb(239, 227, 250);
    height: 94vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signupContainer .image {
    width: 100%;
  }
  
  .signupContainer .signupFormContainer h4 {
    text-align: center; 
    margin-bottom: 20px;
    margin-right: 34%;
  }
  
  .signupContainer .signupFormContainer .loginRedirect {
    text-align: center; 
    margin-top: 3%;
    margin-right: 38%;
    cursor: pointer;
  }

/*----------------------------------------------------------------------------------------------------------*/

  /* Login Page Styles */
  .container {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px;
  }
  
  .container .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 50%;
    padding: 20px; 
    margin: 0 auto; 
    padding-left: 10%;
  }
  
  .container .formContainer .inputField {
    margin-bottom: 20px;
    width: 70%; 
    font-size: 14px; 
  }
  
  .container .formContainer .passwordField {
    margin-bottom: 10px;
    width: 70%; 
    font-size: 14px;
  }
  
  .container .formContainer .submitButton {
    width: 70%; 
    margin-top: 20px;
    background-color: rgb(186, 115, 252);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .container .imageContainer {
    width: 80%; 
    height: 94vh;
    background-color: rgb(239, 227, 250);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container .image {
    width: 100%;
  }
  
  .container .formContainer h4 {
    text-align: center; 
    margin-bottom: 20px;
    margin-right: 27%;
  }
  
  .container .formContainer .signupText {
    text-align: center; 
    margin-top: 3%;
    margin-right: 27%;
    cursor: pointer;
  }

/*----------------------------------------------------------------------------------------------------------*/
 /* Brand Page Styles */
 .cardContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .card {
    flex: 0 0 calc(33.333% - 20px);
    margin-bottom: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    overflow: hidden;
  }
  
  .card:last-child {
    margin-right: 0;
  }
  
  .cardImage img {
    width: 100%;
    max-height: 300px;
    min-height: 300px;
    object-fit: cover;
  }
  
  .cardName {
    text-align: center;
    background-color: red;
  }
  
/*----------------------------------------------------------------------------------------------------------*/
  /* Product Page Styles */




.container {
    margin-left: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Sütun düzeninde (alt alta) göstermek için */
  }
  
  .addProductButton {
    margin-bottom: 20px;
    left: 0;
    width: 70%;
    margin-top: 7%;
  }
  
  .tableContainer {
    display: block;
    max-width: 70%; /* Tablonun maksimum genişliğini belirliyoruz */
    overflow-x: auto; /* Yatay taşma olduğunda kaydırma çubuğu ekler */
    margin-bottom: 20px; /* Altta bir boşluk bırakıyoruz */
  }
  
  .tableContainer table {
    width: 100%; /* Tablonun yüzde 100 genişliğinde olmasını sağlar */
  }
  
  .tableContainer th, .tableContainer td {
    white-space: nowrap; /* Hücre içeriğinin fazla uzun olması durumunda satır atlamasını engelliyoruz */
    overflow: hidden;
    text-overflow: ellipsis; /* Taşma durumunda üç nokta (...) gösteriyoruz */
  }
  
  .tableContainer tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Çift satırlar için arka plan rengi */
  }
  
  .tableContainer tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Tek satırlar için arka plan rengi */
  }

/* App.css */

/* ... Diğer stiller ... */

/* App.css */

/* ... Diğer stiller ... */

/* App.css */

/* ... Diğer stiller ... */

.modalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 60%;
    background-color: #ffffff;
    box-shadow: 24px;
    padding: 24px; /* Padding'i artırdık */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .modalBox .modalInput {
    margin-top: 32px; /* Yukarı ayrık mesafe */
  }
  
  .modalBox .modalInput input {
    margin-bottom: 5px; /* Aşağı ayrık mesafe */
    padding: 16px; /* İçerik ile input arasındaki mesafe */
  }
  
  /* Ekstra stil ayarları - gerekirse değiştirilebilir */
  .modalBox .modalInput label {
    margin-bottom: 10px; /* Label ile input arasındaki mesafe */
  }
  
  .modalBox .modalButton {
    width: 30%;
    height: 8%;
    margin-left: 35%;
    margin-top: 15px;
  }
  .modalBox h4{
    margin-top: 15px;
  }
